{
  "bip": "{{ docker_network.bip }}",
  "default-address-pools": [
    {
      "base": "{{ docker_network.default_address_pools }}",
      "size": {{ docker_network.default_address_pools_size }}
    }
  ]
}